{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["babel-plugin-root-import", {
            "rootPathSuffix": "./src/app/icarus",
            "rootPathPrefix": "@/"
        }]
    ],
	"env": {
		"test": {

		},
		"development": {

		},
		"production": {

		}
	}
}
