doctype html
html
  head
    meta(charset="utf-8")
    title Space Weather
    link(href="../index.css",type="text/css",rel="stylesheet")
    script(src="../index.js")
  body
    svg
        defs
            g#Icon01
            g#Icon02
                
    block content
