mixin loader(id)
    .Loader(id=id)
        svg.Loader__spinner(viewBox="0 0 32 128", width="32", height="128")
            rect.Loader01(x="0", y="0", width="1", height="128")
            rect.Loader02(x="6", y="0", width="1", height="128")
            rect.Loader03(x="12", y="0", width="1", height="128")
            rect.Loader04(x="18", y="0", width="1", height="128")
            rect.Loader05(x="24", y="0", width="1", height="128")
            rect.Loader06(x="30", y="0", width="1", height="128")

extends base

block content
    canvas.Background
    .Page
        .Page__top
            .Logo
               include ../assets/images/logo.svg
            .Nav
                a.Nav__item.isActive(href="/weather")
                    .Nav__itemLabel Weather
                a.Nav__item(href="/sunspots")
                    .Nav__itemLabel Sunspots
                a.Nav__item(href="/solar-cycle")
                    .Nav__itemLabel Solar cycle
                a.Nav__item(href="/forecast")
                    .Nav__itemLabel Forecast
                    .Nav__itemAlert
        .Page__content
            // Weather section
            section.Weather.isActive
                .Weather__EITFilters
                    .Panel__header
                        .Panel__title EIT Filters
                        .Panel__menu
                            a.Panel__menuItem(href="/weather",data-param-name="filter",data-param-value="1")
                                .Value 171
                                .Unit Å
                            a.Panel__menuItem(href="/weather",data-param-name="filter",data-param-value="2")
                                .Value 193
                                .Unit Å
                            a.Panel__menuItem.isActive(href="/weather",data-param-name="filter",data-param-value="3")
                                .Value 211
                                .Unit Å
                            a.Panel__menuItem(href="/weather",data-param-name="filter",data-param-value="4")
                                .Value 304
                                .Unit Å
                            a.Panel__menuItem(href="/weather",data-param-name="filter",data-param-value="5")
                                .Value HMI
                    .Panel__content
                        +loader("#sun")
                        .Sun
                            .Sun__container
                                img.Sun__image(src="s")
                    .Panel__footer
                        .Timeline
                            .Timeline__progress
                                .Timeline__bar
                                    .Timeline__fill(style="transform: scaleX(0.0);")
                                .Timeline__mark(style="left: 0%;")
                                    .Timeline__markTop
                                    .Timeline__markBottom
                            .Timeline__dates
                                .Timeline__dateStart 0000-00-00 --:--
                                .Timeline__dateCurrent 0000-00-00 --:--
                                .Timeline__dateEnd 0000-00-00 --:--
                .Weather__fluxes
                    .Panel__header
                        .Panel__title Fluxes
                        .Panel__menu
                            a.Panel__menuItem(href="/weather",data-param-name="flux",data-param-value="solar-wind") Solar Wind
                            a.Panel__menuItem.isActive(href="/weather",data-param-name="flux",data-param-value="particle") Particle Flux
                            a.Panel__menuItem(href="/weather",data-param-name="flux",data-param-value="electron") Electron Flux
                            a.Panel__menuItem(href="/weather",data-param-name="flux",data-param-value="x-ray") X-Ray Flux
                    .Panel__content
                        +loader("#weather")
                        .Graph
                            .Graph__content
                            .Graph__legends
                                a.Graph__legend(href="#")
                                    .Graph__legendColor--particle10
                                    .Graph__legendLabel P>10MeV
                                a.Graph__legend(href="#")
                                    .Graph__legendColor--particle100
                                    .Graph__legendLabel P>100MeV
                    .Panel__footer
            // Sunspots
            section.Sunspots
                .Sunspots__image
                    .Panel__header
                        .Panel__title Sunspots
                    .Panel__content
                        +loader("#sunspots")
                        .Graph
                            .Graph__content
                    .Panel__footer

                // .Sunspots__data
                    .Panel__header
                        .Panel__title Data
                    .Panel__content
                        //+loader("#sunspots")
                        .Sunspots__dataTable
                            h2 Hola
                    .Panel__footer
                .Sunspots__description
                    .Panel__content--text
                        .ScrolledContent
                            .Text__header Sunspots
                            .Text__body
                                p Sunspots are temporary phenomena on the photosphere of the Sun that appear visibly as dark spots compared to surrounding regions. They correspond to concentrations of magnetic field flux that inhibit convection and result in reduced surface temperature compared to the surrounding photosphere. Sunspots usually appear in pairs, with pair members of opposite magnetic polarity. The number of sunspots varies according to the approximately 11-year solar cycle.
                                p Individual sunspots may endure anywhere from a few days to a few months, but eventually decay. Sunspots expand and contract as they move across the surface of the Sun with a size ranging from 16 kilometers to 160,000 kilometers in diameter. The larger variety are visible from Earth without the aid of a telescope. They may travel at relative speeds ("proper motions") of a few hundred meters per second when they first emerge.
                                p Reflecting intense magnetic activity, sunspots accompany secondary phenomena such as coronal loops (prominences) and reconnection events. Most solar flares and coronal mass ejections originate in magnetically active regions around visible sunspot groupings. Similar phenomena indirectly observed on stars other than the sun are commonly called starspots and both light and dark spots have been measured.
            // Solar cycle
            section.SolarCycle
                .SolarCycle__graph
                    .Panel__header
                        .Panel__title Solar Cycle
                    .Panel__content
                        +loader("#solar-cycle")
                        .Graph
                            .Graph__content
                            .Graph__legends
                                a.Graph__legend(href="#")
                                    .Graph__legendColor--monthly
                                    .Graph__legendLabel Monthly Values
                                a.Graph__legend(href="#")
                                    .Graph__legendColor--smoothedMonthly
                                    .Graph__legendLabel Smoothed Monthly Values
                                a.Graph__legend(href="#")
                                    .Graph__legendColor--predictedMonthly
                                    .Graph__legendLabel Predicted Monthly Values
                    .Panel__footer
                .SolarCycle__description
                    .Panel__content--text
                        .ScrolledContent
                            .Text__header The Solar Cycle
                            .Text__body
                                p The 11-year sunspot or solar cycle is a rhythmic waxing and waning of the number of dark sunspots on the visible disk of the Sun. It comes from the "winding-up" of the solar magnetic field during which the magnetic field gradually decays and then finally undergoes a total magnetic reversal, which is when the magnetic poles flip. As the magnetic field becomes gradually more entwined towards solar maximum the surface fields of the Sun becomes more and more wrapped up. This increases the activity on the surface of the Sun, seen as sunspots (regions of highly complex and intense magnetic fields) and the more frequent occurrence of solar flares and coronal mass ejections.
                                p The Sun is brighter at EUV and X-ray wavelengths during solar maximum then at solar minimum. This global brightening has Space Weather consequences. Impulsive events, such as coronal mass ejections, solar flares, or high speed streams in the solar wind, occur on timescales of minutes to hours, or even days. Delayed sources of space weather, such as geomagnetic storms, start after the solar signal that triggers the storm has passed the Earth and can last for days to weeks. Galactic cosmic rays are reduced by solar activity and have more rapid variations caused by CMEs. Interplanetary dust particles are a continuous source of easily-ionized meteoric material to the Earth. Impacts of asteroids and comets are infrequent, catastrophic events.
                                h3 Recent cycles
                                h4 Cycle 24
                                p The current solar cycle began on January 4, 2008, with minimal activity until early 2010. It is on track to have the lowest recorded sunspot activity since accurate records began in 1750. The cycle featured a "double-peaked" solar maximum. The first peak was reached 99 in 2011 and the second in early 2014 at 101.
                                h4 Cycle 23
                                p This cycle lasted 11.6 years, beginning in May 1996 and ending in January 2008. The maximum smoothed sunspot number (monthly number of sunspots averaged over a twelve-month period) observed during the solar cycle was 120.8 (March 2000), and the minimum was 1.7. A total of 805 days had no sunspots during this cycle.
                                p
                                    span= "Sources: "
                                    a(href="http://sdo.gsfc.nasa.gov/mission/spaceweather.php and https://www.wikiwand.com/en/Solar_cycle") http://sdo.gsfc.nasa.gov/mission/spaceweather.php and https://www.wikiwand.com/en/Solar_cycle
            // Forecast Section
            section.Forecast
                .Forecast__graphs
                    .Panel__header
                        .Panel__title 3-day Forecast
                    .Panel__content
                        .Forecast__days
                            .Forecast__day
                                .Forecast__dayLabel Dec 26
                                .Forecast__dayData
                                    svg.RadialDanger(width="100%", height="100%", viewBox="0 0 102 102")
                                        g
                                            circle.RadialDanger__geomagnetic(cx="50", cy="50", r="12")
                                            circle.RadialDanger__solar(cx="50", cy="50", r="18")
                                            circle.RadialDanger__blackout(cx="50", cy="50", r="19")
                                        g
                                            line.RadialDanger__divider(x1="50", y1="50", x2="50", y2="0")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="0")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="50")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="50", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="50")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="0")
                                        g
                                            circle.RadialDanger__base--initial(cx="50", cy="50", r="10")
                                            circle.RadialDanger__base(cx="50", cy="50", r="50")
                                    .Forecast__stats
                                        .Forecast__statsLabel--geomagnetic Geomagnetic Activity
                                        .Forecast__statsValue--geomagnetic 8 / 2
                                    .Forecast__stats
                                        .Forecast__statsLabel--solar Solar Radiation Activity
                                        .Forecast__statsValue--solar
                                            .Forecast__statsSubValue R1-R2 5%
                                            .Forecast__statsSubValue R3 15%
                                    .Forecast__stats
                                        .Forecast__statsLabel--blackout Radio Blackout Activity
                                        .Forecast__statsValue--blackout 10%
                            .Forecast__day
                                .Forecast__dayLabel Dec 27
                                .Forecast__dayData
                                    svg.RadialDanger(width="100%", height="100%", viewBox="0 0 102 102")
                                        g
                                            circle.RadialDanger__geomagnetic(cx="50", cy="50", r="12")
                                            circle.RadialDanger__solar(cx="50", cy="50", r="18")
                                            circle.RadialDanger__blackout(cx="50", cy="50", r="19")
                                        g
                                            line.RadialDanger__divider(x1="50", y1="50", x2="50", y2="0")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="0")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="50")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="50", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="50")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="0")
                                        g
                                            circle.RadialDanger__base--initial(cx="50", cy="50", r="10")
                                            circle.RadialDanger__base(cx="50", cy="50", r="50")
                                    .Forecast__stats
                                        .Forecast__statsLabel--geomagnetic Geomagnetic Activity
                                        .Forecast__statsValue--geomagnetic 2 / 2
                                    .Forecast__stats
                                        .Forecast__statsLabel--solar Solar Radiation Activity
                                        .Forecast__statsValue--solar
                                            .Forecast__statsSubValue R1-R2 5%
                                            .Forecast__statsSubValue R3 15%
                                    .Forecast__stats
                                        .Forecast__statsLabel--blackout Radio Blackout Activity
                                        .Forecast__statsValue--blackout 10%
                            .Forecast__day
                                .Forecast__dayLabel Dec 28
                                .Forecast__dayData
                                    svg.RadialDanger(width="100%", height="100%", viewBox="0 0 102 102")
                                        g
                                            circle.RadialDanger__geomagnetic(cx="50", cy="50", r="12")
                                            circle.RadialDanger__solar(cx="50", cy="50", r="18")
                                            circle.RadialDanger__blackout(cx="50", cy="50", r="19")
                                        g
                                            line.RadialDanger__divider(x1="50", y1="50", x2="50", y2="0")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="0")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="50")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="100", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="50", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="100")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="50")
                                            line.RadialDanger__divider(x1="50", y1="50", x2="0", y2="0")
                                        g
                                            circle.RadialDanger__base--initial(cx="50", cy="50", r="10")
                                            circle.RadialDanger__base(cx="50", cy="50", r="50")
                                    .Forecast__stats
                                        .Forecast__statsLabel--geomagnetic Geomagnetic Activity
                                        .Forecast__statsValue--geomagnetic 4 / 2
                                    .Forecast__stats
                                        .Forecast__statsLabel--solar Solar Radiation Activity
                                        .Forecast__statsValue--solar
                                            .Forecast__statsSubValue R1-R2 5%
                                            .Forecast__statsSubValue R3 15%
                                    .Forecast__stats
                                        .Forecast__statsLabel--blackout Radio Blackout Activity
                                        .Forecast__statsValue--blackout 10%
                    .Panel__footer
                .Forecast__alerts
                    .Panel__header
                        .Panel__title Alerts
                        .Panel__menu
                            a.Panel__menuItem.isActive(href="/forecast",data-param-name="show",data-param-value="forecast") Forecast
                            a.Panel__menuItem(href="/forecast",data-param-name="show",data-param-value="alerts") Alerts
                    .Panel__content
                        +loader("#forecast-alerts")
                        .Forecast__rationale
                            h3 Lorem ipsum dolor
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        .Alerts
                            .Alert.Alert--warning
                                input.Alert__input(type="checkbox", id="alert-002")
                                label.Alert__basicInfo(for="alert-002")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Electron 2MeV Integral Flux exceeded 1000pfu
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--summary
                                input.Alert__input(type="checkbox", id="alert-003")
                                label.Alert__basicInfo(for="alert-003")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--extendedWarning
                                input.Alert__input(type="checkbox", id="alert-004")
                                label.Alert__basicInfo(for="alert-004")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--cancelWarning
                                input.Alert__input(type="checkbox", id="alert-004")
                                label.Alert__basicInfo(for="alert-004")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                    .Panel__footer
        .Page__bottom
            .Controls
                a.Button--sound.isOn(href="")
                    .Button__label Audio On
                    svg.Icon--sound(viewBox="0 0 22 16", x="0", y="0", width="22", height="16")
                        rect.Sound.Sound--1(x="0", y="0", width="1", height="16")
                        rect.Sound.Sound--2(x="3", y="0", width="1", height="16")
                        rect.Sound.Sound--3(x="6", y="0", width="1", height="16")
                        rect.Sound.Sound--1(x="9", y="0", width="1", height="16")
                        rect.Sound.Sound--4(x="12", y="0", width="1", height="16")
                        rect.Sound.Sound--2(x="15", y="0", width="1", height="16")
                        rect.Sound.Sound--1(x="18", y="0", width="1", height="16")
                        rect.Sound.Sound--3(x="21", y="0", width="1", height="16")
    +loader("main")
    template#alert
        .Alert(class="{alerttype}")
            input.Alert__input(type="checkbox", id="{id}")
            label.Alert__basicInfo(for="{id}")
                .Alert__metadata
                    .Alert__issueTime {issuetime}
                    .Alert__SWMC {SWMC}
                .Alert__message {message}
            .Alert__extendedInfo
                .Alert__payload {payload}
