extends base

block content
    canvas.Background
    .Page
        .Page__top
            .Logo Project SOL
            .Nav
                a.Nav__item.isActive(href="") Weather
                a.Nav__item(href="") Sunspots
                a.Nav__item(href="") Solar cycle
                a.Nav__item(href="") Forecast
        .Page__content
            // Weather section
            .Weather
                .Weather__EITFilters
                    .Panel__header
                        .Panel__title EIT Filters
                        .Panel__menu
                            a.Panel__menuItem(href="")
                                .Value 171
                                .Unit Å
                            a.Panel__menuItem(href="")
                                .Value 195
                                .Unit Å
                            a.Panel__menuItem.isActive(href="")
                                .Value 284
                                .Unit Å
                            a.Panel__menuItem(href="")
                                .Value 304
                                .Unit Å
                            a.Panel__menuItem(href="")
                                .Value Corona
                    .Panel__content
                        .Sun
                            svg.Sun__image(width="1024", height="1024", viewBox="0 0 1024 1024")
                                circle(cx="512", cy="512", r="512", fill="#cc9900")
                .Weather__fluxes
                    .Panel__header
                        .Panel__title Fluxes
                        .Panel__menu
                            a.Panel__menuItem(href="") Solar Wind
                            a.Panel__menuItem.isActive(href="") Particle Flux
                            a.Panel__menuItem(href="") Electron Flux
                            a.Panel__menuItem(href="") X-Ray Flux
                    .Panel__content
                        h2 Graph
            // Forecast Section
            .Forecast.isActive
                .Forecast__graphs

                .Forecast__alerts
                    .Panel__header
                    .Panel__content
                        .Alerts
                            .Alert
                                input.Alert__input(type="checkbox", id="alert-001")
                                label.Alert__basicInfo(for="alert-001")
                                    .Alert__date 2015 Dec 15 0338 UTC - WARK04
                                    .Alert__title Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    h2 hola
                            .Alert
                                input.Alert__input(type="checkbox", id="alert-002")
                                label.Alert__basicInfo(for="alert-002")
                                    .Alert__date 2015 Dec 15 0338 UTC - WARK04
                                    .Alert__title Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    h2 hola

        .Page__bottom
            .Timeline
