doctype html
html
  head
    meta(charset="utf-8")
    title Icarus
    link(href="index.css",type="text/css",rel="stylesheet")
    link(type="image/png", rel="icon", href="images/favicon.png")
  body
    #Application
    script(src="index.js")
