extends base

block content
    canvas.Background
    .Page
        .Page__top
            .Logo AURORA
            .Nav
                a.Nav__item.isActive(href="/weather") Weather
                a.Nav__item(href="/sunspots") Sunspots
                a.Nav__item(href="/solar-cycle") Solar cycle
                a.Nav__item(href="/forecast") Forecast
        .Page__content
            // Weather section
            section.Weather.isActive
                .Weather__EITFilters
                    .Panel__header
                        .Panel__title EIT Filters
                        .Panel__menu
                            a.Panel__menuItem(href="/weather",data-name="filter",data-value="171")
                                .Value 171
                                .Unit Å
                            a.Panel__menuItem(href="/weather",data-name="filter",data-value="195")
                                .Value 195
                                .Unit Å
                            a.Panel__menuItem.isActive(href="/weather",data-name="filter",data-value="284")
                                .Value 284
                                .Unit Å
                            a.Panel__menuItem(href="/weather",data-name="filter",data-value="304")
                                .Value 304
                                .Unit Å
                            a.Panel__menuItem(href="/weather",data-name="filter",data-value="corona")
                                .Value Corona
                    .Panel__content--noPadding
                        .Sun
                            .Sun__container
                                img.Sun__image(src="images/giphy.gif")
                    .Panel__footer
                        .Timeline
                            .Timeline__progress
                                .Timeline__bar
                                    .Timeline__fill(style="transform: scaleX(0.44);")
                                .Timeline__mark(style="left: 44%;")
                                    .Timeline__markTop
                                    .Timeline__markBottom
                            .Timeline__dates
                                .Timeline__dateStart 2015-12-24 12:45
                                .Timeline__dateCurrent 2015-12-24 12:45
                                .Timeline__dateEnd 2015-12-25 14:45
                .Weather__fluxes
                    .Panel__header
                        .Panel__title Fluxes
                        .Panel__menu
                            a.Panel__menuItem(href="/weather",data-name="flux",data-value="solar-wind") Solar Wind
                            a.Panel__menuItem.isActive(href="/weather",data-name="flux",data-value="particle") Particle Flux
                            a.Panel__menuItem(href="/weather",data-name="flux",data-value="electron") Electron Flux
                            a.Panel__menuItem(href="/weather",data-name="flux",data-value="x-ray") X-Ray Flux
                    .Panel__content
                        h2 Graph
                    .Panel__footer
            // Sunspots
            section.Sunspots
                .Sunspots__image
                    .Panel__header
                        .Panel__title Sunspots
                    .Panel__content
                        h2 Graph
                    .Panel__footer
                .Sunspots__description
                    .Text__header Lorem ipsum dolor sit amet
                    .Text__body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            // Solar cycle
            section.SolarCycle
                .SolarCycle__graph
                    .Panel__header
                        .Panel__title Solar Cycle
                    .Panel__content
                        h2 Graphs
                    .Panel__footer
                .SolarCycle__description
                    .Text__header Lorem ipsum dolor sit amet
                    .Text__body
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            // Forecast Section
            section.Forecast
                .Forecast__graphs
                    .Panel__header
                        .Panel__title 3-day Forecast
                        .Panel__menu
                            a.Panel__menuItem(href="/forecast",data-name="type",data-value="geomagnetic") Geomagnetic Activity
                            a.Panel__menuItem.isActive(href="/forecast",data-name="type",data-value="solar-radiation") Solar Radiation Activity
                            a.Panel__menuItem(href="/forecast",data-name="type",data-value="radio-blackout") Radio Blackout Activity
                    .Panel__content
                        h2 Graphs
                    .Panel__footer
                .Forecast__alerts
                    .Panel__header
                        .Panel__title Alerts
                    .Panel__content
                        .Alerts
                            .Alert
                                input.Alert__input(type="checkbox", id="alert-001")
                                label.Alert__basicInfo(for="alert-001")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--warning
                                input.Alert__input(type="checkbox", id="alert-002")
                                label.Alert__basicInfo(for="alert-002")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Electron 2MeV Integral Flux exceeded 1000pfu
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--summary
                                input.Alert__input(type="checkbox", id="alert-003")
                                label.Alert__basicInfo(for="alert-003")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--extendedWarning
                                input.Alert__input(type="checkbox", id="alert-004")
                                label.Alert__basicInfo(for="alert-004")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                            .Alert.Alert--cancelWarning
                                input.Alert__input(type="checkbox", id="alert-004")
                                label.Alert__basicInfo(for="alert-004")
                                    .Alert__metadata
                                        .Alert__issueTime 2015 Dec 15 0338 UTC
                                        .Alert__SWMC WARK04
                                    .Alert__message Geomagnetic K-index of 4 expected
                                .Alert__extendedInfo
                                    .Alert__payload Extension to Serial Number: 2736\r\nValid From: 2015 Dec 09 2005 UTC\r\nNow Valid Until: 2015 Dec 12 0400 UTC\r\nWarning Condition: Persistence\r\nwww.swpc.noaa.gov/noaa-scales-explanation\r\nPotential Impacts: Area of impact primarily poleward of 65 degrees Geomagnetic Latitude.\r\nInduced Currents - Weak power grid fluctuations can occur.\r\nAurora - Aurora may be visible at high latitudes such as Canada and Alaska.
                    .Panel__footer
        .Page__bottom
            .Controls
                a.Button--sound.isOn(href="")
                    svg.Icon--sound(viewBox="0 0 22 16", x="0", y="0", width="22", height="16")
                        rect.Sound1(x="0", y="0", width="1", height="16")
                        rect.Sound2(x="3", y="0", width="1", height="16")
                        rect.Sound3(x="6", y="0", width="1", height="16")
                        rect.Sound1(x="9", y="0", width="1", height="16")
                        rect.Sound4(x="12", y="0", width="1", height="16")
                        rect.Sound2(x="15", y="0", width="1", height="16")
                        rect.Sound1(x="18", y="0", width="1", height="16")
                        rect.Sound3(x="21", y="0", width="1", height="16")
                    .Button__label Audio On


