// ----------------------------------------------------------
// Intro animtion to sections

section.isActive
    @extend $Section--active
    .Panel__title
        animation animTitle 1s $easeInCubic
        opacity 1
    .Panel__header
        animation animPanelHeader .8s $easeInCubic
        @extend $Panel__header--active
    .Panel__content
        animation animBodyIn .8s $easeInCubic
    .Panel__footer
        animation animPanelFooter 1.6s $easeInCubic
    .Weather__EITFilters
    .Sunspots__image
    .SolarCycle__graph
    .Forecast__graphs
        transform-style preserve-3d
        animation anim3DPanelLeft .2s ease-in
    .Weather__fluxes
    .Sunspots__description
    .SolarCycle__description
    .Forecast__alerts
        transform-style preserve-3d
        animation anim3DPanelRight .4s ease-in
// ----------------------------------------------------------
// Animations

@keyframes animTitle
    0%
        opacity 0
    75%
        opacity 0
    100%
        opacity 1

@keyframes animPanelHeader
    0%
        border-bottom 1px solid transparent
        background-color transparent
        border-top 1px solid transparent
    60%
        border-bottom 1px solid transparent
        background-color transparent
        border-top 1px solid transparent
    70%
        border-bottom 1px solid $colorBase
        background-color alpha($colorDim, 0.1)
        border-top 1px solid $colorBase
    100%
        border-bottom 1px solid $colorDim
        background-color alpha($colorDim, 0.06)
        border-top 1px solid $colorDim

@keyframes animPanelFooter
    0%
        border-bottom 1px solid transparent
    80%
        border-bottom 1px solid transparent
    85%
        border-bottom 1px solid $colorBase
    100%
        border-bottom 1px solid $colorDim

@keyframes animBodyIn
    0%
        opacity 0
    60%
        opacity 0
    80%
        opacity 1

@keyframes anim3DPanelLeft
    0%
        transform matrix3D(
                        .8, 0, 0, -.0004,
                        0, .8, 0, 0,
                        0, 0, 1, 0,
                        -120, 0, 0, 1
                        )
    100%
        transform matrix3D(
                        1, 0, 0, 0,
                        0, 1, 0, 0,
                        0, 0, 1, 0,
                        0, 0, 0, 1
                        )

@keyframes anim3DPanelRight
    0%
        opacity 0
        transform matrix3D(
                        .8, 0, 0, .0004,
                        0, .8, 0, 0,
                        0, 0, 1, 0,
                        120, 0, 0, 1
                        )
    50%
        opacity 0
        transform matrix3D(
                        .8, 0, 0, .0004,
                        0, .8, 0, 0,
                        0, 0, 1, 0,
                        120, 0, 0, 1
                        )
    100%
        opacity 1
        transform matrix3D(
                        1, 0, 0, 0,
                        0, 1, 0, 0,
                        0, 0, 1, 0,
                        0, 0, 0, 1
                        )


@keyframes animTextIn
    0%
        opacity 0
    60%
        opacity 0
    100%
        opacity 1
