// ----------------------------------------------------------
// Intro animtion to sections

section.isActive
    @extend $Section--active
    .Panel__title
        animation animTitle .2s $easeInCubic .3s
        opacity 1
    .Panel__header
        animation animPanelHeader .2s $easeInCubic .2s
    .Panel__content
        animation animBodyIn .2s $easeInCubic .4s
    .Panel__footer
        animation animPanelFooter .2s $easeInCubic .3s
    .Panel__content--text
        animation animTextIn .2s $easeInCubic .4s

// ----------------------------------------------------------
// Animations

@keyframes animTitle
    0%
        opacity 0
    50%
        opacity 0
    100%
        opacity 1

@keyframes animPanelHeader
    0%
        border-bottom 1px solid transparent
        background-color transparent
        border-top 1px solid transparent
    30%
        border-bottom 1px solid $colorBase
        background-color alpha($colorDim, 0.1)
        border-top 1px solid $colorBase
    100%
        border-bottom 1px solid $colorDim
        background-color alpha($colorDim, 0.06)
        border-top 1px solid $colorDim

@keyframes animPanelFooter
    0%
        border-bottom 1px solid transparent
    30%
        border-bottom 1px solid $colorBase
    100%
        border-bottom 1px solid $colorDim

@keyframes animBodyIn
    0%
        opacity 0
    40%
        opacity 0
    100%
        opacity 1

@keyframes animFooterIn
    0%
        opacity 0
    20%
        opacity 0
    100%
        opacity 1

@keyframes animTextIn
    0%
        opacity 0
    60%
        opacity 0
    100%
        opacity 1
