// ----------------------------------------------------------
// Intro animtion to sections

section.isActive
    @extend $Section--active
    .Panel__title
        animation animTitle .8s $easeInCubic
        opacity 1
    .Panel__header
        animation animPanelHeader .8s $easeInCubic
        @extend $Panel__header--active
    .Panel__content
        animation animBodyIn .8s $easeInCubic
    .Panel__footer
        animation animPanelFooter .8s $easeInCubic
    .Weather__EITFilters
    .Sunspots__image
    .SolarCycle__graph
    .Forecast__graphs
        transform-style preserve-3d
        animation anim3DPanelLeft .4s $easeInCubic
    .Weather__fluxes
    .Sunspots__description
    .SolarCycle__description
    .Forecast__alerts
        transform-style preserve-3d
        animation anim3DPanelRight .4s $easeInCubic
// ----------------------------------------------------------
// Animations

@keyframes animTitle
    0%
        opacity 0
    66%
        opacity 0
    100%
        opacity 1

@keyframes animPanelHeader
    0%
        border-bottom 1px solid transparent
        background-color transparent
        border-top 1px solid transparent
    25%
        border-bottom 1px solid $colorBase
        background-color alpha($colorDim, 0.1)
        border-top 1px solid $colorBase
    75%
        border-bottom 1px solid $colorDim
        background-color alpha($colorDim, 0.06)
        border-top 1px solid $colorDim

@keyframes animPanelFooter
    50%
        border-bottom 1px solid transparent
    75%
        border-bottom 1px solid $colorBase
    100%
        border-bottom 1px solid $colorDim

@keyframes animBodyIn
    0%
        opacity 0
    60%
        opacity 0
    80%
        opacity 1

@keyframes anim3DPanelLeft
    0%
        opacity 0
        transform matrix3D(
                        1, 0, 0, 0.0002,
                        0, 1, 0, 0,
                        0, 0, 1, 0,
                        -400, 0, 600, 1
                        )
    100%
        opacity 1
        transform matrix3D(
                        1, 0, 0, 0,
                        0, 1, 0, 0,
                        0, 0, 1, 0,
                        0, 0, 0, 1
                        )

@keyframes anim3DPanelRight
    0%
        opacity 0
        transform matrix3D(
                        1, 0, 0, -0.0002,
                        0, 1, 0, 0,
                        0, 0, 1, 0,
                        400, 0, 600, 1
                        )
    100%
        transform matrix3D(
                        1, 0, 0, 0,
                        0, 1, 0, 0,
                        0, 0, 1, 0,
                        0, 0, 0, 1
                        )


@keyframes animTextIn
    0%
        opacity 0
    60%
        opacity 0
    100%
        opacity 1
