// ----------------------------------------------------------
// Variables

$hueGeneral = 164
$hueAccent = 24

$colorDim = hsla($hueGeneral, 25%, 50%, 0.2)
$colorBase = hsla($hueGeneral, 25%, 50%, 1)
$colorLink = hsla($hueGeneral, 60%, 80%, 1)
$colorHighlight = hsla($hueGeneral, 60%, 95%, 1)
$colorTitle = hsla($hueAccent, 80%, 60%, 1)

$colorAlert = hsla($hueAccent, 60%, 50%, 1)
$colorAlertSummary = hsla(48, 40%, 50%, 1)
$colorAlertWarning = hsla(16, 90%, 50%, 1)
$colorAlertCancelWarning = hsla(92, 20%, 50%, 1)
$colorAlertWatch = hsla($hueAccent, 60%, 50%, 1)

$colorMagnitude1 = hsla($hueAccent, 80%, 60%, 1)
$colorMagnitude2 = hsla(64, 80%, 60%, 1)
$colorMagnitude3 = hsla($hueGeneral, 80%, 60%, 1)

$colorGeomagnetic = $colorMagnitude1
$colorSolar = $colorMagnitude2
$colorBlackout = $colorMagnitude3

$colorParticle10 = $colorTitle
$colorParticle100 = hsla(8, 80%, 60%, 1)

$easeInCubic = cubic-bezier(0.550, 0.055, 0.675, 0.190)

// ----------------------------------------------------------
// Elements

$Metadata
    display flex
    font-size .75rem
    color $colorBase

$Alert
    position relative
    padding .5rem 1rem
    flex 0 0 auto
//  border-left 1px solid $colorAlert

$Alert__decor
    position absolute
    content ''
    top 0
    left 0
    height 1px
    width 2rem
    background-color $colorAlert
    transition width .1s $easeInCubic

$MenuItem
    text-transform uppercase
    padding 0 1rem
    height 2rem
    margin-left 0.25rem
    display flex
    align-items center

$ControlButton
    text-transform uppercase
    color $colorBase
    font-size .75rem
    display flex
    align-items center

$ControlButton--active
    color $colorHighlight

$Icon
    stroke-width 1
    stroke $colorDim
    fill transparent

// ----------------------------------------------------------
// Text formats

$Text__header
    position relative
    font-size 2rem
    padding-top .5rem
    text-transform uppercase
    color $colorTitle

$Text__body
    position relative
    color $colorBase
    padding-bottom 1rem

// ----------------------------------------------------------
// Sections

$Section
    flex 0 0 100%
    display flex
    opacity 0
    max-width 0
    overflow hidden
$Section--active
    opacity 1
    max-width initial
    transform translate3d(0, 0, 0)

// ----------------------------------------------------------
// Panels

$Panel
    padding 2rem
    display flex
    flex-direction column

$Panel--20
    @extend $Panel
    flex 0 1 20%
    display flex

$Panel--40
    @extend $Panel
    flex 0 1 40%
    display flex

$Panel--50
    @extend $Panel
    flex 0 1 50%
    display flex

$Panel--60
    @extend $Panel
    flex 0 0 60%

$Panel__header
    flex 0 0 auto
    position relative
    height 3rem
    display flex
    align-items center
    border-bottom 1px solid transparent
    background-color transparent
    border-top 1px solid transparent
$Panel__header--active
    border-bottom 1px solid $colorDim
    background-color alpha($colorDim, 0.06)
    border-top 1px solid $colorDim
$Panel__decor
    position absolute
    content ''
    width 5px
    height 5px
    transform rotate(45deg)
    background-color $colorHighlight
    z-index 101
$Panel__decor--long
    position absolute
    content ''
    width 2rem
    height 1px
    background-color $colorHighlight
    z-index 101

$Panel__title
    flex 1 0 auto
    text-transform uppercase
    color $colorTitle
    //font-weight 500
    font-size 1rem
    padding 0.5rem 0

$Panel__menu
    flex 0 0 auto
    font-size .875rem
    display flex
    padding 0.25rem 0

$Panel__content
    flex 1 0
    position relative
    display flex
    flex-direction column
    padding 1rem 0

$Panel__content--noPadding
    @extend $Panel__content
    padding 0

$Panel__footer
    flex 0 0 auto
    position relative
    //height 3rem
    display flex
    align-items center
    border-bottom 1px solid $colorDim

// ----------------------------------------------------------
// Navigation

$NavActive
    background-color $colorDim
    pointer-events none
    color $colorHighlight
    border-radius .125rem
    box-shadow inset 0 0 1rem alpha($colorHighlight, 0.06)

$NavHover
    color $colorHighlight
    border-radius .125rem
    animation animHover .1s ease-in-out
    background-color $colorDim

@keyframes animHover
    0%
        box-shadow inset 0 0 0 $colorHighlight
        background-color black
    66%
        box-shadow inset 0 -2rem 0 $colorHighlight
        color black
        background-color black
    100%
        box-shadow inset 0 -2rem 0 $colorDim
        background-color black
