//----------------------------------------------------------
// Variables

$color-base = hsla(180, 10%, 70%, 1)
$color-link = hsla(180, 20%, 90%, 1)

//----------------------------------------------------------
// Components
