.Graph__image
    position absolute
    bottom 0
    left 0

.Graph__line
    fill transparent
    stroke $colorParticle10

// TODO: Fix this.
.Graph__line.Graph__color0
    fill transparent
    stroke $colorParticle10

.Graph__line.Graph__color1
    fill transparent
    stroke $colorParticle100

.Graph__area
    fill alpha($colorParticle10, 0.06)

.Graph__area.Graph__color0
    fill alpha($colorParticle10, 0.06)

.Graph__area.Graph__color1
    fill alpha($colorParticle100, 0.06)

.Graph__axis
    fill transparent
    //shape-rendering crispEdges

.Graph__text
    fill $colorBase

.tick
    line
        stroke alpha($colorDim, 0.1)
    text
        font-family 'FiraSans'
        font-weight 200
        font-size .75rem
        stroke $colorBase

.Graph__smoothed
    stroke $colorMagnitude2

.Graph__observed
    stroke alpha($colorMagnitude2, 0.3)

.Graph__predicted
    stroke $colorTitle

.Graph__sun
    fill transparent

.Graph__sunspot
    stroke $colorHighlight
    vector-effect non-scaling-stroke
    stroke-width 1px
    fill transparent

.Graph__dots
    fill transparent

.Graph__density
    fill $colorTitle

.Graph__temperature
    fill $colorMagnitude2


.Graph__timeline
    stroke $colorBase

.Graph__sunspotInfo
    padding 1rem
    fill #000
    cursor pointer

.Graph__sunspotText
    font-family 'FiraSans'
    font-size 1rem
    fill $colorHighlight
    opacity 0
    transform translate(-64px, -128px)
    transition all .3s ease-out

.Graph__sunspotInfoLabel
    font-size 0.75rem
    text-transform uppercase

.Graph__sunspotInfo:hover .Graph__sunspotText
    display block
    opacity 1
    transition all .3s ease-in
