.Graph__image
    position absolute
    bottom 0
    left 0

.Graph__line
    fill transparent
    stroke $colorTitle

.Graph__area
    fill alpha($colorTitle, 0.06)

.Graph__axis
    fill transparent
    //shape-rendering crispEdges

.Graph__text
    fill $colorBase

.tick
    line
        stroke alpha($colorDim, 0.1)
    text
        font-family 'FiraSans'
        font-weight 200
        font-size .75rem
        stroke $colorBase

.Graph__smoothed
    stroke $colorMagnitude2

.Graph__observed
    stroke alpha($colorMagnitude2, 0.3)

.Graph__predicted
    stroke $colorTitle

.Graph__sun
    stroke alpha($colorMagnitude2, 0.3)

.Graph__sunspot
    stroke $colorBase
    vector-effect non-scaling-stroke
    stroke-width 1px
    fill transparent


.Graph__dots
    fill transparent

.Graph__density
    fill $colorTitle

.Graph__temperature
    fill $colorMagnitude2

