@import 'base.styl'

// ----------------------------------------------------------
// Base styles

@font-face
    font-family 'FiraSans'
    src url('fonts/FiraSans-Light.woff2') format('woff2')
    font-weight 200

@font-face
    font-family 'FiraSans'
    src url('fonts/FiraSans-Medium.woff2') format('woff2')
    font-weight 500

*
*:before
*:after
    box-sizing border-box

html
    width 100%
    height 100%
    background-color black
    color $colorBase
    margin 0
    padding 0

body
    height 100%
    overflow hidden
    margin 0
    padding 0

body
label
input
    font-family 'FiraSans'
    font-weight 200

a
    color $colorLink
    text-decoration none

::-webkit-scrollbar
    width 1px
::-webkit-scrollbar-button
::-webkit-scrollbar-track
::-webkit-scrollbar-corner
::-webkit-scrollbar-track-piece
    display none
::-webkit-scrollbar-thumb
    background-color $colorDim

// ----------------------------------------------------------
// Page background

.Background
    position fixed
    top 0
    left 0
    width 100%
    height 100%


// ----------------------------------------------------------
// Page layout

.Page
    height 100%
    display flex
    flex-direction column
    align-items stretch

.Page__top
.Page__bottom
    flex 0 0 4rem
    display flex
    align-items flex-end

.Page__top
    position relative
    margin 2rem 2rem 0
    padding-bottom .5rem
    &:before
    &:after
        @extend $Panel__decor--long
        top 0
    &:before
        left 0
    &:after
        right 0

.Page__content
    flex 1 0
    display flex
// ----------------------------------------------------------
// Nav

.Logo
    font-weight 500
    font-size 1rem
    color $colorBase

.Nav
    flex 1
    display flex
    justify-content flex-end
.Nav__item
    font-size 1rem
    text-transform uppercase
    margin-left .5rem
    padding 0.25rem 1rem

.Nav__item.isActive
    @extend $NavActive

// ----------------------------------------------------------
// Panel

.Panel__header
    @extend $Panel__header
    &:before
    &:after
        top -1px
        @extend $Panel__decor
    &:before
        left 0
    &:after
        right 0


.Panel__title
    @extend $Panel__title

.Panel__menu
    display flex
    padding 0.25rem 0

.Panel__menuItem
    text-transform uppercase
    padding 0.25rem 0.5rem
    margin-left 0.25rem
    display flex
.Panel__menuItem.isActive
    @extend $NavActive

.Panel__menuItem:hover
.Nav__item:hover
    @extend $NavHover

.Unit
    color $colorBase

.Panel__content
    @extend $Panel__content
    position relative
    &:before
    &:after
        @extend $Panel__decor
        bottom -1px
    &:before
        left 0
    &:after
        right 0

// ----------------------------------------------------------
// Weather Section

.Weather
    @extend $Section

.Weather.isActive
    @extend $Section--active

.Weather__EITFilters
    @extend $Panel--40

.Weather__fluxes
    @extend $Panel--60


// ----------------------------------------------------------
// Sun visualization

.Sun
    display flex
    align-items center
    justify-content center
.Sun__image
    width 100%
    height auto

// ----------------------------------------------------------
// Forecast Section

.Forecast
    @extend $Section

.Forecast.isActive
    @extend $Section--active

.Forecast__graphs
    @extend $Panel--60

.Forecast__alerts
    @extend $Panel--40

.Alerts
    position absolute
    top 1rem
    left 0
    width 100%
    bottom 1rem
    overflow-y scroll

.Alert
    @extend $Alert

.Alert__basicInfo:before
    @extend $Alert__decor

.Alert--summary
    .Alert__basicInfo:before
        background-color $colorAlertSummary

.Alert--warning
    .Alert__basicInfo:before
        background-color $colorAlertWarning

.Alert--watch
    .Alert__basicInfo:before
        background-color $colorAlertWatch

.Alert--extendedWarning
    .Alert__basicInfo:before
        background-color $colorAlertWarning

.Alert--cancelWarning
    .Alert__basicInfo:before
        background-color $colorAlertCancelWarning

.Alert:hover
    .Alert__message
        color $colorHighlight
    .Alert__basicInfo
        background-color alpha($colorDim, .3)
.Alert:hover .Alert__basicInfo:before
.Alert__input:checked ~ .Alert__basicInfo:before
        width 6rem
        transition width .2s $easeInCubic

.Alert__basicInfo
    display block
    padding-bottom 1rem
    cursor pointer

.Alert__input
    width 0
    height 0
    display none

.Alert__metadata
    @extend $Metadata

.Alert__issueTime
    margin-right 1rem

.Alert__message
    color $colorLink
    text-transform uppercase

.Alert__extendedInfo
    max-height 0
    overflow hidden
    transform translate3d(0,0,0)
    transition max-height .4s $easeInCubic

.Alert__input:checked ~ .Alert__extendedInfo
    max-height 20rem
    transform translate3d(0,0,0)
    transition max-height .2s $easeInCubic
