@import 'base.styl'

// ----------------------------------------------------------
// Base styles

@font-face
    font-family 'FiraSans'
    src url('fonts/FiraSans-Light.woff2') format('woff2')
    font-weight 200

@font-face
    font-family 'FiraSans'
    src url('fonts/FiraSans-Medium.woff2') format('woff2')
    font-weight 500

*
*:before
*:after
    box-sizing border-box

html
    width 100%
    height 100%
    background-color black
    margin 0
    padding 0

body
    height 100%
    overflow hidden
    margin 0
    padding 0
    //font-size .875rem

body
label
input
    color $colorBase
    font-family 'FiraSans'
    font-weight 200
    line-height 1.25

a
    color $colorLink
    text-decoration none

p:first-line
    margin-left 2rem

::-webkit-scrollbar
    width 1px
::-webkit-scrollbar-button
::-webkit-scrollbar-track
::-webkit-scrollbar-corner
::-webkit-scrollbar-track-piece
    display none
::-webkit-scrollbar-thumb
    background-color $colorDim

// ----------------------------------------------------------
// Page background

.Background
    position absolute
    top 0
    right 0
    bottom 0
    left 0

// ----------------------------------------------------------
// Page layout

.Page
    height 100%
    display flex
    flex-direction column
    align-items stretch
    position relative

.Page__top
.Page__bottom
    flex 0 0 4rem
    display flex
    align-items flex-end

.Page__top
    position relative
    margin 2rem 2rem 0
    padding-bottom .5rem
    &:before
    &:after
        @extend $Panel__decor--long
        top 0
    &:before
        left 0
    &:after
        right 0

.Page__content
    flex 1 0
    display flex
// ----------------------------------------------------------
// Nav

.Logo
    font-weight 200
    font-size 1.25rem
    display flex
    align-items center
    height 2rem
    color $colorBase

.Nav
    flex 1
    display flex
    justify-content flex-end

.Nav__item
    font-size 1.25rem
    display flex
    height 2rem
    align-items center
    text-transform uppercase
    margin-left .5rem
    padding 0 1rem

.Nav__item.isActive
    @extend $NavActive

// ----------------------------------------------------------
// Controls

.Controls
    position fixed
    display flex
    bottom 2rem
    right 2rem

.Controls__sound
    @extend $ControlButton

.Controls__sound.isOn
    @extend $ControlButton--active

// ----------------------------------------------------------
// Panel

.Panel__header
    @extend $Panel__header
    &:before
    &:after
        top -1px
        @extend $Panel__decor
    &:before
        left 0
    &:after
        right 0


.Panel__title
    @extend $Panel__title

.Panel__menu
    @extend $Panel__menu

.Panel__menuItem
    @extend $MenuItem

.Panel__menuItem.isActive
    @extend $NavActive

.Panel__menuItem:hover
.Nav__item:hover
    @extend $NavHover

.Unit
    color $colorBase

.Panel__content
    @extend $Panel__content

.Panel__footer
    @extend $Panel__footer
    position relative
    &:before
    &:after
        @extend $Panel__decor
        bottom -1px
    &:before
        left 0
    &:after
        right 0

// ----------------------------------------------------------
// Weather Section

.Weather__EITFilters
    @extend $Panel--40

.Weather__fluxes
    @extend $Panel--60


// ----------------------------------------------------------
// Sun visualization

.Sun
    flex 1
    display flex
    align-items center
    justify-content center
.Sun__image
    width 100%
    height auto

// ----------------------------------------------------------
// Timeline

.Timeline
    position relative
    flex 1
    border-top 1px solid $colorDim
    border-bottom 1px solid $colorDim

.Timeline__base
    height 0.5rem
    margin .5rem 0
    background-color $colorDim

.Timeline__mark
    width 1px
    height 100%
    position absolute
    top 0
    left 40%
    background-color $colorHighlight

// ----------------------------------------------------------
// Forecast Section

.Forecast__graphs
    @extend $Panel--60

.Forecast__alerts
    @extend $Panel--40

.Alerts
    position absolute
    top 1rem
    left 0
    width 100%
    bottom 1rem
    overflow-y scroll

.Alert
    @extend $Alert

.Alert__basicInfo:before
    @extend $Alert__decor

.Alert--summary
    .Alert__basicInfo:before
        background-color $colorAlertSummary

.Alert--warning
    .Alert__basicInfo:before
        background-color $colorAlertWarning

.Alert--watch
    .Alert__basicInfo:before
        background-color $colorAlertWatch

.Alert--extendedWarning
    .Alert__basicInfo:before
        background-color $colorAlertWarning

.Alert--cancelWarning
    .Alert__basicInfo:before
        background-color $colorAlertCancelWarning

.Alert:hover
    .Alert__message
        color $colorHighlight
    .Alert__basicInfo
        transition background-color .1s $easeInCubic
        background-color alpha($colorDim, .3)
.Alert:hover .Alert__basicInfo:before
.Alert__input:checked ~ .Alert__basicInfo:before
        width 6rem
        transition width .2s $easeInCubic

.Alert__basicInfo
    display block
    padding-bottom 1rem
    cursor pointer
    transition background-color .2s $easeInCubic

.Alert__input
    width 0
    height 0
    display none

.Alert__metadata
    @extend $Metadata

.Alert__issueTime
    margin-right 1rem

.Alert__message
    color $colorLink
    text-transform uppercase

.Alert__extendedInfo
    max-height 0
    overflow hidden
    transform translate3d(0,0,0)
    transition max-height .4s $easeInCubic

.Alert__input:checked ~ .Alert__extendedInfo
    max-height 20rem
    transform translate3d(0,0,0)
    transition max-height .2s $easeInCubic

// ----------------------------------------------------------
// Sections

.Weather
.Sunspots
.SolarCycle
.Forecast
    @extend $Section

.Weather.isActive
.Sunspots.isActive
.SolarCycle.isActive
.Forecast.isActive
    @extend $Section--active


.Sunspots__image
.SolarCycle__graph
    @extend $Panel--60

.Sunspots__description
.SolarCycle__description
    flex 0 0 40%
    padding 2rem

.Text__header
    @extend $Text__header

.Text__header:before
    @extend $Panel__decor
    top 0
    right 0

.Text__body
    @extend $Text__body

.Text__body:after
    @extend $Panel__decor
    bottom 0
    right 0

// ----------------------------------------------------------
// Sunspots



