@import 'base.styl'
@import 'graph.styl'
@import 'animations.styl'

// ----------------------------------------------------------
// Base styles

@font-face
    font-family 'FiraSans'
    src url('fonts/FiraSans-Light.woff2') format('woff2')
    font-weight 200

@font-face
    font-family 'FiraSans'
    src url('fonts/FiraSans-Medium.woff2') format('woff2')
    font-weight 500

*
*:before
*:after
    box-sizing border-box
    user-select none
    -webkit-user-select none
    -moz-user-select none

html
    width 100%
    height 100%
    background-color black
    margin 0
    padding 0

body
    height 100%
    overflow hidden
    margin 0
    padding 0
    display flex
    align-items center
    justify-content center

body
label
input
    color $colorBase
    font-family 'FiraSans'
    font-weight 200
    line-height 1.25

a
    color $colorLink
    text-decoration none
    transition color .4s ease-in-out
    &:hover
        color $colorHighlight
        transition color .2s ease-in-out

h3
    text-transform uppercase
    color $colorTitle
    font-weight 200
    margin 1rem 0 .5rem
h4
    text-transform uppercase
    color $colorHighlight
    font-weight 200

p
    margin 2rem 0

::-webkit-scrollbar
    width 1px
::-webkit-scrollbar-button
::-webkit-scrollbar-track
::-webkit-scrollbar-corner
::-webkit-scrollbar-track-piece
    display none
::-webkit-scrollbar-thumb
    background-color $colorDim

.Image--notFound
    @extend $Icon

// ----------------------------------------------------------
// Page background

.Background
    position absolute
    top 0
    right 0
    bottom 0
    left 0

// ----------------------------------------------------------
// Page layout

.Page
    max-width 1800px
    max-height 1200px
    width 100%
    height 100%
    display flex
    flex-direction column
    align-items stretch
    position relative

.Page__top
    flex 0 0 4rem
    display flex
    align-items flex-end

.Page__bottom
    flex 0 0 2rem
    display flex
    align-items center

.Page__top
    position relative
    margin 2rem 2rem 0
    padding-bottom .5rem
    &:before
    &:after
        @extend $Panel__decor--long
        top 0
    &:before
        left 0
    &:after
        right 0

.Page__content
    flex 1 1
    display flex
    align-items stretch
// ----------------------------------------------------------
// Nav

.Logo
    font-weight 200
    font-size 1rem
    display flex
    align-items center
    height 2rem
.Logo__icon
    fill $colorTitle
.Logo__text
    fill $colorLink

.Nav
    flex 1
    display flex
    justify-content flex-end

.Nav__item
    position relative
    font-size 1.25rem
    display flex
    height 2rem
    align-items center
    text-transform uppercase
    margin-left .5rem
    padding 0 2rem

.Nav__item.isActive
    @extend $NavActive

.Nav__itemAlert
    position absolute
    top .5rem
    right .5rem
    background-color $colorTitle
    width .5rem
    height .5rem
    border-radius .5rem

// ----------------------------------------------------------
// Controls

.Controls
    position fixed
    display flex
    bottom 2rem
    right 2rem

.Button--sound
    @extend $ControlButton
    .Icon--sound
        fill $colorBase
    .Sound
        transform-origin 50% 50%
    .Button__label
        margin-right .5rem

.Button--sound.isOn
    @extend $ControlButton--active
    .Icon--sound
        fill $colorHighlight
    .Sound--1
        animation AnimSound 1s ease-in-out infinite
    .Sound--2
        animation AnimSound .9s ease-in-out infinite
    .Sound--3
        animation AnimSound .7s ease-in-out infinite
    .Sound--4
        animation AnimSound .2s ease-in-out infinite

.Button--sound.isOff .Icon--sound .Sound
    transform scaleY(0.1)


@keyframes AnimSound
    0%
        transform scaleY(0.1)
        fill $colorBase
    20%
        transform scaleY(1)
    40%
        transform scaleY(0.4)
    60%
        transform scaleY(0.75)
    80%
        transform scaleY(0.2)
        fill $colorBase
    100%
        transform scaleY(0.1)
        fill $colorBase


// ----------------------------------------------------------
// Panel

.Panel__header
    @extend $Panel__header
    &:before
    &:after
        top -3px
        @extend $Panel__decor
    &:before
        left -2px
    &:after
        right -2px


.Panel__title
    @extend $Panel__title

.Panel__menu
    @extend $Panel__menu

.Panel__menuItem
    @extend $MenuItem

.Panel__menuItem.isActive
    @extend $NavActive

.Panel__menuItem:hover
.Nav__item:hover
    @extend $NavHover

.Unit
    color $colorBase

.Panel__content
    @extend $Panel__content

.Panel__content--text
    @extend $Panel__content

.ScrolledContent
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    padding-right .5rem
    overflow-y auto
    overflow-x hidden

.Panel__content--text:before
    @extend $Panel__decor
    top -.125rem
    right -2px


.Panel__content--text:after
    @extend $Panel__decor
    bottom -.125rem
    right -2px

.Panel__footer
    @extend $Panel__footer
    position relative
    &:before
    &:after
        @extend $Panel__decor
        bottom -3px
    &:before
        left -2px
    &:after
        right -2px

// ----------------------------------------------------------
// Weather Section

.Weather__EITFilters
    @extend $Panel--40

.Weather__fluxes
    @extend $Panel--60

.Panel__content--noPadding
    @extend $Panel__content--noPadding

// ----------------------------------------------------------
// Sun visualization

.Sun
    position absolute
    top 1rem
    left 0
    bottom 1rem
    width 100%
    display flex
    align-items center
    justify-content center

    //height 100%
.Sun__container
    display inline-block
    margin auto
    position relative
    background-color black
    border-radius 50%
.Sun__date
    position absolute
    right 0
    font-size 1.25rem
    bottom 1rem
    color $colorBase
.Sun__vignette
    display inline-block
    position relative
    margin auto
.Sun__image
    position relative
    display block
    margin auto
    max-width 100%
    max-height 100%
    border-radius 50%
    border 4px solid black
.Sun__container:after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    border-radius 50%
    box-shadow inset 0 0 4rem 2.5rem black
    z-index 10

// ----------------------------------------------------------
// Timeline

.Timeline
    margin 1rem 0 1rem
    flex 1 0 auto
.Timeline__progress
    height 1rem
    position relative
.Timeline__progress:before
.Timeline__progress:after
    position absolute
    content ''
    top 0
    height 2px
    width 2px
    background-color $colorHighlight
    z-index 100
.Timeline__progress:before
    left 0
.Timeline__progress:after
    right 0
.Timeline__bar
    position absolute
    width 100%
    top 0
    //margin-top -1px
    height 2px
    background-color $colorDim

.Timeline__fill
    position absolute
    height 2px
    top 0
    left 0
    width 100%
    transform-origin 0 0
    background-color $colorBase

.Timeline__mark
    cursor pointer
    height 1.5rem
    position absolute
    top -.75rem
    margin-top 1px
    margin-left -.4rem
    background-color $colorHighlight

.Timeline__mark:hover
    .Timeline__markTop
        border-top-color $colorHighlight
    .Timeline__markBottom
        border-bottom-color $colorHighlight

.Timeline__markTop
.Timeline__markBottom
    position absolute
    width 0
    height 0
    border .4rem solid transparent
.Timeline__markTop
    border-top-color $colorTitle
    top 0
.Timeline__markBottom
    border-bottom-color $colorTitle
    bottom 0

.Timeline__dates
    display flex
    font-size .875rem
    height 1rem

.Timeline__dateCurrent
    flex 1 0 50%
    text-align center
    color $colorHighlight
.Timeline__dateStart
    flex 0 0 25%
.Timeline__dateEnd
    flex 0 0 25%
    text-align right

// ----------------------------------------------------------
// Forecast Section

.Forecast__graphs
    @extend $Panel--60

.Forecast__alerts
    @extend $Panel--40

.Forecast__rationale
.Alerts
    position absolute
    top 1rem
    left 0
    width 100%
    bottom 1rem
    overflow-y scroll
    display flex
    flex-direction column

.Alert
    @extend $Alert

.Alert__basicInfo:before
    @extend $Alert__decor

.Alert--summary
    .Alert__basicInfo:before
        background-color $colorAlertSummary

.Alert--warning
    .Alert__basicInfo:before
        background-color $colorAlertWarning

.Alert--watch
    .Alert__basicInfo:before
        background-color $colorAlertWatch

.Alert--extendedWarning
    .Alert__basicInfo:before
        background-color $colorAlertWarning

.Alert--cancelWarning
    .Alert__basicInfo:before
        background-color $colorAlertCancelWarning

.Alert:hover
    .Alert__message
        color $colorHighlight
    .Alert__basicInfo
        transition background-color .1s $easeInCubic
        background-color alpha($colorDim, .1)
.Alert:hover .Alert__basicInfo:before
.Alert__input:checked ~ .Alert__basicInfo:before
        width 6rem
        transition width .2s $easeInCubic

.Alert__basicInfo
    display block
    padding-bottom 1rem
    cursor pointer
    transition background-color .2s $easeInCubic

.Alert__input
    width 0
    height 0
    display none

.Alert__metadata
    @extend $Metadata

.Alert__issueTime
    margin-right 1rem

.Alert__message
    color $colorLink
    text-transform uppercase

.Alert__extendedInfo
    max-height 0
    overflow hidden
    margin-bottom 1rem
    white-space pre-wrap
    transform translate3d(0,0,0)
    transition max-height .4s $easeInCubic

.Alert__input:checked ~ .Alert__extendedInfo
    max-height 20rem
    transform translate3d(0,0,0)
    transition max-height .2s $easeInCubic

// ----------------------------------------------------------
// Sections

.Weather
.Sunspots
.SolarCycle
.Forecast
    @extend $Section

.Weather.isActive
.Sunspots.isActive
.SolarCycle.isActive
.Forecast.isActive
    @extend $Section--active

.Sunspots__image
.SolarCycle__graph
    @extend $Panel--60

.Sunspots__description
.SolarCycle__description
    @extend $Panel--40

.Sunspots__data
    @extend $Panel--20

.Text__header
    @extend $Text__header

.Text__body
    @extend $Text__body

// ----------------------------------------------------------
// Graph

.Graph
    flex 1
    display flex
    flex-direction column

.Graph__content
    flex 1
    position relative
    margin 1rem 0 2rem

.Graph__legends
    flex 0 0 2rem
    display flex
    padding-top 1rem
    border-top 1px solid $colorDim

.Graph__legend
    display flex
    align-items center
    margin-right 2rem

$Graph__legendColor
    width 1rem
    height .5rem
    margin-right .5rem

.Graph__legendColor--particle10
.Graph__legendColor--particle100
.Graph__legendColor--monthly
.Graph__legendColor--smoothedMonthly
.Graph__legendColor--predictedMonthly
    @extend $Graph__legendColor


.Graph__legendColor--particle10
    background-color $colorParticle10
.Graph__legendColor--particle100
    background-color $colorParticle100



.Graph__legendColor--monthly
    background-color alpha($colorMagnitude2, 0.3)
.Graph__legendColor--smoothedMonthly
    background-color $colorMagnitude2
.Graph__legendColor--predictedMonthly
    background-color $colorTitle

.Graph__legendLabel
    font-size .875rem

// ----------------------------------------------------------
// Loader

.Loader
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color black
    display flex
    align-items center
    justify-content center
    z-index 100

.Loader__spinner
    fill $colorBase
.Loader01
.Loader02
.Loader03
.Loader04
.Loader05
.Loader06
    transform-origin 50% 50%
    transform scaleY(0)

.Loader.isActive
    opacity 1
    .Loader01

        animation AnimLoader 1s ease-in-out infinite alternate
    .Loader02
        animation AnimLoader 1s ease-in-out infinite alternate .1s
    .Loader03
        animation AnimLoader 1s ease-in-out infinite alternate .2s
    .Loader04
        animation AnimLoader 1s ease-in-out infinite alternate .3s
    .Loader05
        animation AnimLoader 1s ease-in-out infinite alternate .4s
    .Loader06
        animation AnimLoader 1s ease-in-out infinite alternate .5s

.Loader:not(.isActive)
    opacity 0
    pointer-events none


@keyframes AnimLoader
    0%
        fill $colorBase
        transform scaleY(0.1)
    50%
        fill $colorTitle
        transform scaleY(1)
    100%
        fill $colorBase
        transform scaleY(0.1)


// ----------------------------------------------------------
// Forecast graphs

.Forecast__days
    flex 1
    display flex
    align-items stretch
    margin 0 -1rem
.Forecast__day
    flex 1
    display flex
    flex-direction column
    align-items stretch
    padding 1rem 1rem 0

.Forecast__dayLabel
    text-transform uppercase
    font-size 1.25rem
    flex 0 0 auto
    text-align left
    color $colorHighlight

.Forecast__dayData
    flex 1 0 auto
    display flex
    flex-direction column
    align-items stretch

.RadialDanger
    width 100%
    fill transparent
    margin-bottom 1rem

$RadialDanger__fill
    stroke-width 1px
    vector-effect non-scaling-stroke

.RadialDanger__base
    @extend $RadialDanger__fill
    stroke $colorDim
.RadialDanger__base--initial
    @extend .RadialDanger__base
    fill black

.RadialDanger__geomagnetic
    @extend $RadialDanger__fill
    stroke $colorGeomagnetic
    fill alpha($colorGeomagnetic, .05)

.RadialDanger__solar
    @extend $RadialDanger__fill
    stroke $colorSolar
    fill alpha($colorSolar, .05)

.RadialDanger__blackout
    @extend $RadialDanger__fill
    stroke $colorBlackout
    fill alpha($colorBlackout, .05)

.RadialDanger__divider
    vector-effect non-scaling-stroke
    stroke-width 1px
    stroke black

.Forecast__stats
    margin-bottom .5rem
    padding .5rem 1rem
    display flex
    align-items center
    background-color alpha($colorDim, 0.1)
    border-radius .125rem

.Forecast__statsLabel
    flex 1
    margin-right 1rem
    text-transform uppercase
    font-size .75rem

.Forecast__statsValue
    flex 0 0 40%
    font-size 1.25rem
    text-align right

.Forecast__statsLabel--geomagnetic
.Forecast__statsLabel--solar
.Forecast__statsLabel--blackout
    @extend .Forecast__statsLabel

.Forecast__statsValue--geomagnetic
.Forecast__statsValue--solar
.Forecast__statsValue--blackout
    @extend .Forecast__statsValue

.Forecast__statsValue--solar
    font-size 1rem

.Forecast__statsLabel--geomagnetic
.Forecast__statsValue--geomagnetic
    color $colorGeomagnetic

.Forecast__statsLabel--solar
.Forecast__statsValue--solar
    color $colorSolar

.Forecast__statsLabel--blackout
.Forecast__statsValue--blackout
    color $colorBlackout

// ----------------------------------------------------------
// Transitions

section.isActive
    .Panel__title
        @extend $AnimTitle
    .Panel__content
        animation AnimBodyIn .6s $easeInCubic
    .Panel__footer
        animation AnimFooterIn .4s $easeInCubic
    .Panel__content--text
        animation AnimTextIn .8s $easeInCubic
